<div class="container">
    <h4>Form</h4>
    <form [formGroup]="allocationForm">

        <div fxFlexLayout="row" class="container" fxLayoutGap="10px">
            <div fxFlex>
                <mat-form-field appearance="outline">
                    <mat-label>Region Name </mat-label>
                    <mat-select placeholder="Region Name" formControlName="regionId" required>
                        <mat-option 
                            *ngFor="let r of regionList;let j= index" [value]="r.regionId">{{r.regionName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="allocationForm?.get('regionId')?.errors?.required">Region name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field appearance="outline">
                    <mat-label>Godown Name </mat-label>
                    <mat-select placeholder="Godown Name" formControlName="godownId" required>
                        <mat-option 
                            *ngFor="let g of godownList;let j= index" [value]="g.godownId">{{g.godownName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="allocationForm?.get('godownId')?.errors?.required">Godown name is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <ng-container formArrayName="materialDetails" *ngFor="let g of u.controls; let i = index;let l =last">
            <div fxFlexLayout="row" class="container" fxLayoutGap="10px" [formGroupName]="i">
                <div fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>Material Name </mat-label>
                        <mat-select placeholder="Material Name" formControlName="materialId" required>
                            <mat-option (onSelectionChange)="changeMaterial(m.materialId,j)"
                                *ngFor="let m of materialList;let j= index" [value]="m.materialId">{{m.materialName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="g?.get('materialId')?.errors?.required">Material name is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>SubMaterial Name </mat-label>
                        <mat-select placeholder="SubMaterial Name" formControlName="subMaterialId" required>
                            <mat-option *ngFor="let s of getResDrop(allocationForm.controls['materialDetails']?.value[i]?.materialId)"
                                [value]="s.subMaterialId">{{s.subMaterialName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="g?.get('subMaterialId')?.errors?.required">SubMaterial name is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>Allocated quantity</mat-label>
                        <input matInput placeholder="Allocated quantity" formControlName="allocatedQuantity" required>
                        <mat-error *ngIf="g?.get('allocatedQuantity')?.errors?.required">Allocated quantity is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex>
                    <span>
                        <button mat-button (click)="addField()" *ngIf="l">add</button> &nbsp;
                        <button mat-button (click)="removeField(i)" *ngIf="u.controls.length > 1">remove</button></span>
                </div>
            </div>
        </ng-container>
        <div fxFlexLayout="row" class="container" fxLayoutGap="10px">
            <div fxFlex>
                <button mat-button (click)="saveDetails()">SAVE</button>
                <div fxFlex>
                    <button mat-button (click)="patchDetails()">PATCH</button> </div>
            </div>
        </div>
    </form>
</div>
{{formDetails | json}}

<!-- <form [formGroup]="allocationForm">
 <ngx-mat-autocomplete-control  [control]="allocationForm.controls['userList']" [options]="materialList"
  [refId]="'quesId'"
        [refName]="'materialName'" [label]="'users'" [disabled]="false" [required]="true"
         [appearance]="'outline'"  ></ngx-mat-autocomplete-control>
</form> -->