<!-- HTML -->
<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1 class="title-4">Welcome back <span>Mr. Master!</span> </h1>
        <hr class="line-seprate">
        </div>
        </div>
</div>
<div class="card-container">
    <a class="card green">
       <i class="ico-font fa fa-address-book-o" aria-hidden="true"></i>
       <div class="pos">
        <h2 class="number">10,368</h2>
        <span class="desc">total orders</span>
        </div>
        <div>
        </div>
    
       </a>
       <a class="card yellow">
        <!-- <img src="../../../assets/imgaes/people-trading.png"> -->
         <i class="ico-font fa fa-address-book-o" aria-hidden="true"></i>
        <div class="pos">
         <h2 class="number">567</h2>
         <span class="desc">Delivered </span>
         </div>
         <div>
         </div>
      
        </a>
       <a class="card blue">
        <i class="ico-font fa fa-address-book-o" aria-hidden="true"></i>
        
        <!-- <img src="../../../assets/imgaes/purchase-2.png"> -->
        <div class="pos" >
         <h2 class="number">10,000</h2>
         <span class="desc">Inprogress</span>
         </div>
         <div>
         </div>
      
        </a>
        <a class="card red">
            <i class="ico-font fa fa-address-book-o" aria-hidden="true"></i>
            <div class="pos">
             <h2 class="number">7</h2>
             <span class="desc">Scrap</span>
             </div>
             <div>
             </div>
          
            </a>

</div>


 